<div th:replace="header"/>

<h1 class="display-3 text-light">Aggiorna Artist</h1>
<p class="text-warning">Attenzione:</p><p class="text-light">C'&egrave; un vincolo di chiave esterna
su GroupID. Per aggiornare un artista &egrave; necessario che esista il gruppo di cui fa parte.<br/>
&Egrave; previsto che un artista che non fa parte di un gruppo venga inserito come
facente parte di un gruppo che ha come nome il nome dell'artista.</p>

<!--
 Anche se i form supportano il metodo POST, per poter fare il sumbit di alcuni
 form anche con metodi PUT e DELETE si è creato un campo di input nascosto chiamato "method",
 il quale contiene il metodo HTTP da utilizzare. "Main.java" legge questo parametro
 (default = GET) ed effettua l'azione corrispondente (select/insert/update/delete)
-->
<form action="artist" method="get">
    <div class="form-group text-light">
        <label for="artistid">ArtistID</label>
        <input type="text" class="form-control" id="artistid" placeholder="ArtistID" name="artistid">
    </div>
    <div class="form-group text-light">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" name="name">
    </div>
    <div class="form-group text-light">
        <label for="groupid">GroupID</label>
        <input type="text" class="form-control" id="groupid" placeholder="GroupID" name="groupid">
    </div>
    <button type="submit" class="btn btn-primary" style="margin: 0">Modifica</button>
    <input type="hidden" name="method" value="PUT">
</form>

<div th:replace="footer"/>